<div id="left-container"> 
  <div class="text"> 
    <h4>Mood Chart</h4>
  </div>

  <ul id="id-list"></ul> 

  <a id="update" href="#" class="theme button white">Update Data</a> 
  <a id="restore" href="#" class="theme button white">Remove Filter</a> 

</div>

<div id="center-container">
    <div id="infovis"></div>
</div>

<div id="right-container">

<div id="inner-details"></div>

</div>

<div id="log"></div>
