<div id="left-container"> 
  <div class="text"> 
    <h4>Mood Chart</h4>
  </div>
</div>

<div id="center-container"></div>

<div id="right-container">

<div id="inner-details"></div>

</div>

<div id="log"></div>
